// hero section

.hero-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-content {
    margin-top: 18em;
    
    h1 {
        color: $white;
        margin: 0.5em 0;
        font-size: 1.4em;
        font-weight: 600;
    }
}

#video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

@media (min-aspect-ratio: 16/9) {
    #video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #video {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 768px) {
    #video {
        display: none;
    }
    .hero-wrapper {
        background-image: url("../images/poster.jpg");
        background-size: cover;
        background-position: center;
    }
}

@media (min-width: 768px) {
    .hero-content {
        margin-top: 25em;
        
        h1 {
            color: $white;
            margin: 0;
            font-size: 2em;
            font-weight: 800;
            line-height: 1.5em;
        }
    }
}

@media (min-height: 1366px) {
    #video {
        display: none;
    }
    
    .hero-wrapper {
        background-image: url("../images/poster.jpg");
        background-size: cover;
        background-position: center;
    }

    .hero-content {
        margin-top: 40em;
    }
}