// projects section

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 0;
    margin: 0 -1.5em -2em -1.5em;
    background: $dark;

    .item {
        position: relative;
        text-align: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            transition: 0.5s all ease-in-out;
            margin: 0;
            padding: 0;
        }
        
        .overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $primary;
            color: $white;
            opacity: 0;
            padding: 2em 4em;
            transition: .5s ease;
        } 

        button {
            width: 100%;
            height: 100%;
        }

        button:hover .overlay, button:hover {
            opacity: 0.9;
        }
    }

    .item:hover img {
        transform: scale(1.5);
    }
}

// projects modal

#projects {
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
    }
        
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    .modal-content, #caption {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}

@media (min-width: 576px) {
    .projects {
        margin: 0 auto 50px auto;
    }
}

@media (min-width: 768px) {
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    }
}